@font-face {
    font-family: 'eFootball';
    src: local('eFootball Stencil Regular'), local('eFootball-Stencil-Regular'),
        url('./fontEFootball/eFootballStencil-Regular.woff2') format('woff2'),
        url('./fontEFootball/eFootballStencil-Regular.woff') format('woff'),
        url('./fontEFootball/eFootballStencil-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  .fontEfootball{
    font-family: 'eFootball';
   

  }
  .blue{
      color: #000096;
  }

  .pink{
    color: #ff72bb;
  }
  .yellow {
       color: #ffff00;
      }
       .csstable {
        background: linear-gradient(0deg, #ffff00 0%, #ffff00 100%);
      }
      .boxweb{
        
    
       background-image: url(./public/efootball_bg_cl2.jpg);
       background-repeat: no-repeat;
        
          background-size: cover;
         
           background-attachment: fixed;

          width: 100%;
            
       
      }
.imgbackground{
  
          background-image: url(./public/barca.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          width: 100%;
          height: 30rem;
}
.imgbackground1{
  
          background-image: url(./public/brazil.jpg);
          background-repeat: no-repeat;
          background-size: cover;
                    background-position: center;

          width: 100%;
          height: 28rem;
}
.imgbackground2{
  
          background-image: url(./public/mess.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          width: 100%;
          height: 30rem;
}
.imgbackground3{
  
          background-image: url(./public/PES-WE2021SU_16-9_Layout_4Clubs.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          
          width: 100%;
          height: 30rem;
}
.boxvs{
  
          background-image: url(./public/vs.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          width: 100%;
          height: 30rem;
}
.boxcard{
    background-image: url(./public/backgroundcard.jpg);
          background-repeat: no-repeat;
          background-size: cover;
         
          width: 100%;
          height: 23rem;

}
.center{
  display: flex;
  justify-content: center;

  
}
 .cssgardient{
  
        
  background: -webkit-linear-gradient( #B3FFAB, #12FFF7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
      }